[Unit]
Description=ShadowSocks Service
After=syslog.target network.target auditd.service

[Service]
Type=simple
User=nobody
ExecStart=/usr/local/bin/ss-server -c /etc/shadowsocks/config.json
ExecReload=/bin/kill -HUP 
ExecStop=/bin/kill -s QUIT  
PrivateTmp=true

[Install]
WantedBy=multi-user.target
